[submodule "third_party_libraries/rtaudio"]
	path = third_party_libraries/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "BRTLibrary"]
	path = BRTLibrary
	url = https://github.com/GrupoDiana/BRTLibrary.git
[submodule "example_2_basic_spatialisation_OF/addons/ofxBRT/libs/brt"]
	path = example_2_basic_spatialisation_OF/addons/ofxBRT/libs/brt
	url = https://github.com/GrupoDiana/BRTLibrary.git
[submodule "example_3_basic_spatialisation_OF/addons/ofxAudioFile"]
	path = example_3_basic_spatialisation_OF/addons/ofxAudioFile
	url = https://github.com/npisanti/ofxAudioFile.git
